<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">POS App</a>

    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <!--<a class="dropdown-item" [routerLink]="['/member/edit']">
          <i class="fa fa-user"></i> Edit
        </a>
        <div class="dropdown-divider"></div>-->
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </div>
    </div>
  </div>
</nav>
