a.nav-link {
  color: #fbfafa;
  text-decoration: none;
  background-color: transparent;
}

a.nav-link:hover {
  color: #fff;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

@media (min-width: 768px){
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 4px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

.collapse:not(.show) {
  display: none;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fa-1 {
  font-size: 1.5em;
}

.bg-side-nav {
  background-color: #4080bf;
}

.bg-top-nav {
  background-color: #336699;
}

