<!--Side bar-->
<nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="sidebar-brand-text mx-3">POS App</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <ul class="nav flex-column">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Master</span>
      </a>
      <div id="collapseTwo" class="collapse" [collapse]="isCollapsed" [isAnimated]="true">
        <div class="py-2 collapse-inner">
          <a class="collapse-item text-white" [routerLink]="['/user']">
            <i class="fas fa-fw fa-cog"></i><span>User</span></a>
        </div>
      </div>
    </li>
  </ul>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</nav>

<!--Top Bar-->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow flex-md-nowrap p-0">
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown">
      <div class="dropdown mr-5" dropdown>
        <a class="dropdown-toggle text-gray-600" dropdownToggle>
          Welcome {{ authService.decodedToken?.unique_name }}
        </a>
        <div class="dropdown-menu mt-1" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/member/edit']">
            <i class="fa fa-user"></i> Edit
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            Log out
          </a>
        </div>
      </div>
    </li>
  </ul>

</nav>
